{% extends "base_layout.html" %} {% block title %}Java{% endblock %} {% block
    content %}
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-8">
          <h1>Lambda's in Java</h1>
          <p></p>
    
           <!-- Content Section Start -->
          <div class="content-container">
            <h2 class="section-title">What is a lambda expression?</h2>
            <div>
              <p>Lambda expressions are handy for simplying code by removing boilerplate 
                and making functional interfaces easier to use. They provide a means to create methods
              without having to create a class.</p>
              <p>They act as a concise way to represent an anonymouse function(a function 
                  without a name).</p>
              <p>Vocab check: What is a functional interface?</p>
              <p>Answer: An interface with a single abstract method. Examples are Runnable, Comparator, etc.</p>
              <p>Lambda expressions have three parts: </p>
              <ul>
                <li>The Parameter List: List of input parameters enclosed in parentheses. 
                  Methods with no parameters use an empty set of parentheses</li>
                <li>The Arrow Operator: Seperates the parameter list from the body</li>
                <li>The Body: Implementation of the lamda expression. 
                  Can be a single expression or a block of code surrounded by curly braces.</li>
              </ul>
            </div>
    
            <!-- Code Sample -->
            <h3>Simple example</h3>
            <pre><code class="language-java">

    </code></pre>
    
            <!-- Code Explanation -->
            <div class="code-explanation">
              <h4>Code Breakdown</h4>
              <p>Explanation of the code goes here.</p>
              <ul>
                <li><strong>Key point 1:</strong> Explanation</li>
                <li><strong>Key point 2:</strong> Explanation</li>
              </ul>
            </div>
    
            <!-- Key Concept Box -->
            <div class="key-concept">
              <h4>Key Concept: Title</h4>
              <p>
                Explanation of an important programming concept related to this
                section.
              </p>
            </div>
    
            <!-- Console Output Example -->
            <h3>Expected Output</h3>
            <div class="output-example">Example console output goes here</div>
          </div>
    
    
    
    
        </div>
        <!-- Sidebar -->
        {% include "math/sidebar.html" %}
      </div>
    </div>
    {% endblock %}