{% extends "base_layout.html" %}

{% block title %}Thermodynamics{% endblock %}


{% block content %}
    <div class="container mt-4">

        <div class="row">
            <div class="col-md-8">
                <h1>Thermodynamics</h1>
                <p>General idea of thermo</p>
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>What is Temperature and Heat?</h5>
                    </div>
                    <div class="card-body">
                        <p>Before we can say what temperature and heat are first we will
                            introduce the idea of <strong>Thermal Energy</strong>
                            
                        </p>
                        
                        <div>
                            <p><strong>Thermal Energy:</strong> Think of this as molecular motions, so more thermal energy
                            more molecular motion.</p>

                            $$
                            E_{int}\quad[J]
                            $$
                        </div>

                        <div>
                            <p><strong>Temperature:</strong> The measurement of thermal energy in <strong>Kelvin</strong></p>

                            <p>Common units of temperature</p>
                            <ul>
                                <li><strong>Kelvin Scale</strong></li>
                                <li><strong>Celsius Scale</strong></li>
                                <li><strong>Fahrenheit</strong></li>
                                <li><strong>Rankine Scale</strong></li>
                            </ul>

                            $$
                            T [K] \text{ or } [^\circ C]
                            $$
                        </div>

                        <div>
                            <p><strong>Heat</strong> Transfer of energy from one object to another.</p>

                            <p>Objects do <strong>NOT</strong> store heat; they store internal energy</p>
                            <p>Q can be positive or negative</p>
                            <p>Positive Q is associated with increasing temp and increasing internal energy</p>
                            <p>Negative Q is associated with decreasing temp and decreasing internal energy</p>

                            $$
                            Q [J]
                            $$
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Matrix Multiplication</h5>
                    </div>
                    <div class="card-body">
                        <p>\(1 Cal = 1000 = 1kcal = 4.184kJ\)</p>
                        <p>\(1 cal = 4.184J\)</p>
                    </div>
                </div>

                div class="card mb-4">
                    <div class="card-header">
                        <h5>Thermal Contact</h5>
                    </div>
                    <div class="card-body">
                        <p>We will break themal contact into two catagories:</p>
                        <p><strong>Good thermal contact</strong> implies objects can easily exhange heat</p>
                        <p>An example would be most metals</p>
                        <p><strong>weak thermal contaxt</strong></p>
                    </div>
                </div>


                

                
                
            </div>
            <!-- Sidebar -->
            {% include "math/sidebar.html" %}
           

        </div>
        
    </div>
{% endblock %}
