{% extends "base_layout.html" %} {% block title %}Thermodynamics{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <h1>Intro to the Ideal Gas Law</h1>
      <p>General idea of thermo</p>

      <!-- Content card -->
      <div class="card mb-4">
        <div class="card-header">
          <h5>The Ideal Gas Law</h5>
        </div>
        <div class="card-body">
          <p>Formula: $$ PV = nRT \text{ or } PV = Nk_bT $$ where:
           <ul>
            <li><strong>P</strong>- Absolute Pressure in units \(Pa\) = \(\frac{N}{m^2}\)</li>
            <li><strong>V</strong>- in units \(m^3\)</li>
            <li><strong>T</strong>- Temperature in units \(K\), dont't use \(^\circ C\)</li>
            <li><strong>n</strong>- Number of moles. No units.</li>
            <li><strong>N</strong>- Number of molecules. Often a very large number. No units.</li>
            <li><strong>R</strong>- 8.314 in units \(\frac{J}{molK}\)</li>
            <li><strong>\(k_b\)</strong>- Boltzmann Constant = \(\frac{R}{N_A}\) = 1.381 x 10^-23 \(\frac{J}{K}\)</li>
           </ul>
          </p>
          <p><strong>Key Assumptions</strong></p>
          <ol>
            <li>Huge number of molecules.</li>
            <li>Molecules move in random directions with random speeds.</li>
            <li>
              Molecules spend most of that time far apart from one another.
            </li>
            <li>Colisions are elastic, thus energy is conserved.</li>
            <li>
              Intermolecular forces are negligible except durring collisions.
            </li>
            <li>Molecules use up negligible volume of container</li>
          </ol>
        </div>
      </div>

      <!-- Content card -->
      <div class="card mb-4">
        <div class="card-header">
          <h5>Moles and Molar Mass</h5>
        </div>
        <div class="card-body">
          <p>A mole is matches the atomic weight of an atom. 1 mole = 1 mol = \(N_a\) elementary units</p>
          <p>There are two formulas too worry about: 
           $$ n = \frac{N}{N_A} \text{ or } n = \frac{m}{\mathcal{M}} $$
           where \(m\) mass of material is and \(\mathcal{M}\) stands for molar mass. 
          </p>
        </div>
      </div>

      <!-- Content card -->
      <div class="card mb-4">
        <div class="card-header">
          <h5>Molar Specific Heat</h5>
        </div>
        <div class="card-body">
          <p>Affected by conditions, so specific types of molar heat are specified for each problem with subscripts</p>
          <p><strong>Constant Volume Process</strong> $$Q = nC_v\Delta T$$ where: 
          <ul>
           <li>Q is the heat required to rais the temperature of 1 mole of material by 1 K = 1^\circ C and assumes gas does not change volume while heated</li>
           <li>\(C_v\) is the molar specific heat at constant volume in units of \(\frac{J}{molK}\)</li>
          </ul>
          </p>
          <p><strong>Constant Pressure Process</strong> $$Q = nC_p\Delta T$$ where: 
          <ul>
           <li>Q is the heat required to rais the temperature of 1 mole of material by 1 K = 1^\circ C and assumes gas does not change pressure while heated</li>
           <li>\(C_p\) is the molar specific heat at constant pressure in units of \(\frac{J}{molK}\)</li>
          </ul></p>

        </div>
      </div>

      <!-- Content card -->
      <div class="card mb-4">
        <div class="card-header">
          <h5>Degrees of Freedom in Monatomic Versus Diatomic Gases</h5>
        </div>
        <div class="card-body">
          <p>Before that, what is Monatomic and what is Diatomic?</p>
          <ul>
            <li><strong>Monatomic</strong>: Each molecule contains a single atom. (e.g., helium, neon, argon)</li>
            <li><strong>Diatomic</strong>: Each molecule contains two atoms. (e.g., hydrogen, oxygen, nitrogen)</li>
          </ul>

          <p>So what about degrees of freedom? Well, in the last equations we didn't explain how we could
            get \(C_v\) & \(C_p\). That is because the molar specific heats depend on the number of atoms
            and the temperature range of the gas. 
          </p>

          <p><strong>All monatomic</strong> gases in 3D space have f = 3, where f is the degrees of freedom</p>
          <p><strong>Diatomic</strong> gases will have f = 3, 5, or 7 depending on the temperature</p>
          <ul>
            <li> for\(\Delta T <= 80^\circ C\) the degrees of freedom, f, = 3. This is translational energy</li>
            <li> for\(\Delta T >= 200^\circ C \text{ & } <= 1000^\circ C\) the degrees of freedom, f, = 5. This is translational and rotational energy.</li>
            <li> for\(\Delta T >= 2000^\circ C\) the degrees of freedom, f, = 7. This is translational and rotational and vibrational enery.</li>
          </ul>

          <h6>So what are the Molar Specific Heats in Gases?</h6>
          <li>Molar specific heat at constant <strong>Volume</strong>. This is the Equipartition Theorem
          $$ C_v = \frac{f}{2}R $$
          </li>

          <li>Molar specific heat at constant <strong>Pressure</strong>.
            $$ C_p = \frac{f + 2}{2}R $$
          </li>

          <li>Change to <strong>Internal Energy </strong> of the gas.
            $$ E_{int} = \frac{f}{2}NK_bT = \frac{f}{2}nRT $$
          </li>

          <li><strong>Adiabatic Constant</strong> dont worry about it now, just take a look see.
            $$ \gamma = \frac{C_p}{C_v} = \frac{f+2}{f} $$
          </li>

          <li>Molar specific heat is <i>defined</i> by the equation
            $$ C = \frac{1}{n}\frac{dE_{int}}{dT} $$
          </li>

        </div>
      </div>
    </div>
    <!-- Sidebar -->
    {% include "math/sidebar.html" %}
  </div>
</div>
{% endblock %}
