{% extends "base_layout.html" %} {% block title %}About{% endblock %} {% block
content %}
<div class="container mt-4">
  <!-- Tutorial Content -->
  <div class="row">
    <!-- Main Content Column -->
    <div class="col-12">
      <div class="tutorial-header text-center">
        <h1>Getting up and running with Git, Github, and Github Desktop</h1>
        <p>This page will help us learn how to get started with git. First we will cover what VCS, Version-Constrol-Software, is.
          Then we will visit the Git website to download and install git for our operating sytem. 
          Next we will visit Github and make an account. We will talk about the interface and then cover a few basic terms and resources.
          After that we will download github desktop for a visual solution to working with Github.
          Once that is finished it is time to get hands on with trying out the power of VCS. 
          We will only cover some basic operations, such as creating a repo, cloneing a repo, pushing changes to local main 
          and to your digital main. Editing a text file and restoring it's history to a previous commit. Creating a branch, working with
          it, and then merging it back into the project after a pull request.
        </p>
      </div>

      <!-- Content Section One-->
      <div class="content-container">
        <h2 class="section-title">What is VCS, git, Github, and Github Desktop?</h2>

        <p>
          What are these things?
        </p>

        <!-- Code Explanation -->
        <div class="code-explanation">
          <h4>Lets breakdown each of them</h4>
          <ul>
            <li><strong>VCS</strong> Explanation</li>
            <li><strong>git</strong> Explanation</li>
            <li><strong>Github</strong> Explanation</li>
            <li><strong>Github Desktop</strong> Explanation</li>
          </ul>
        </div>

        <!-- Key Concept Box -->
        <div class="key-concept">
          <h4>Key Takeaway</h4>
          <p>
            Explanation of stuff
          </p>
        </div>


         <!-- Practice Section -->
      <div class="practice-section">
        <h3>Steps before moving on</h3>
        <p>Be diligent!</p>
        <ul>
          <li>Take notes</li>
          <li>Go to gollasry and read all terms once. Use as reference</li>
        </ul>
      </div>

      </div>
      <!-- End of Content -->

       <!-- Content Section Two -->
       <div class="content-container">
        <h2 class="section-title">Lets setup!</h2>

        <p>
          Time to make accounts, download, and set up our enviorment. Trust me, won't be to bad.
        </p>

        <!-- Code Explanation -->
        <div class="code-explanation">
          <h4>Let's go step by step!</h4>
          <ol>
            <li><strong>git</strong> If you don't already have git installed navigate to __ and install
            git for your operating system.</li>
            <li><strong>Github</strong> I suggest using a buisness email that you would use for resumes. 
            Naviage to _ and make a Github account.</li>
            <li><strong>Github Desktop</strong> Navigate to _ and download the installer. Run the file
            that downloaded. You will be prompted to login to your github account. Follow the on screen directions.</li>
          </ol>
        </div>

        <!-- Key Concept Box -->
        <div class="key-concept">
          <h4>Key Takeaway</h4>
          <p>
            Explanation of stuff
          </p>
        </div>


         <!-- Practice Section -->
      <div class="practice-section">
        <h3>Steps before moving on</h3>
        <p>Be diligent!</p>
        <ul>
          <li>Write these steps down. Just as a short note. You might have to teach a collegue one day,
            or make a new account.
          </li>
        </ul>
      </div>

      </div>
      <!-- End of Content -->

       <!-- Content Section -->
       <div class="content-container">
        <h2 class="section-title">Getting started with our first repo!</h2>

        <p>
         Wait, a repo? What?
        </p>

        <!-- Code Explanation -->
        <div class="code-explanation">
          <h4>Let's go over just a few terms before jumping in.</h4>
          <ul>
            <li><strong>Repo</strong> Explanation</li>
          </ul>

          <h4>Time to rock!</h4>
          <ul>
            <li><strong>Repo</strong> First step is creating our repo. There are several ways 
            we could go about that. We could go to our dashboard online, we could use the command line,
            but instead let's use Github Desktop. Click the File button in the top left. 
            Click New Repository. We can give it any name we want, I'll go with Rocking-Repo. We can initialize
            it with a README, or not, but this time I think I will. What is a README? Just a markdown file 
            Github uses to display text under your project. It's a good way to introduce people to your project, but 
            for this tutorial, we won't go into the ins-and-outs of them.</li>
        
            <li><strong>Repo</strong> Let's find our project in our files. To do this, we will open our files in 
            the explorer. Now that we are inside our repo folder, let's right-click and make a new TXT file.
            Mine will be Song-One. Let's look at our repo in Github Desktop. Notice we can see that 
            something changed! Our text file was added.</li>
        
            <li><strong>Repo</strong> To commit this, we will go to the bottom left of the Github Desktop 
            UI. I'll call this first commit in the summary and say "Added first song" in the description.
            Let's make another one! So I'll call the new text file Song-Two.txt. I'll commit this in the same
            manner. Let's say I wasn't happy with Song-One. Let's go to the History. Notice we can see the things we 
            did in the past here. Let's right-click on the first commit. Select "Revert this commit" (img here). If it worked, then you should notice
            that the first file vanished! We just went back to a save point in our project. This can be a powerful and frustrating 
            feature. Misuse can lead to merge conflicts, something we will not go into much detail about in this tutorial.
            Be careful using this feature.</li>
        
            <li><strong>Repo</strong> When we are happy with our changes, we can push to our online repository on
            Github. You have a few options to get to this. There is the large button in the center. Or you can enter
            the "Branch" dropdown and select "Push origin" (img here). You can also use the keyboard shortcut `Ctrl + P`. This will bring all of 
            our local changes into our online space. Let's go check that out. Navigate to your online repo
            and check it out—your project is online! Now you can access this project from any computer. 
            Let's go over some of this UI.</li>
        
            <li><strong>Repo</strong> Let's make a new file here now. Select the "New file" button as shown (img here).
            I'm going to make a TXT file called Fav-Song.txt. I'll save this to my repo, and done. Now,
            let's go back to Github Desktop. We have two options now: we could fetch from the main branch, or we could pull
            from the main branch. When fetching, know that we are making a new commit of our project from the online repo. Pulling 
            will not create a new commit. There are several ways to do this. You can click "Fetch origin" or "Pull origin" (img here) or use the shortcut `Ctrl + Shift + P`.
            After we did our pull, notice we have the file we added to the project via the online repo!</li>
        
            <li><strong>Repo</strong> There is a lot more we could practice like this with TXT files, but 
            let's try to incorporate a coding environment. This tutorial is for students taking a course in Java,
            but you can follow it for generally any language or project. With that said, we will be using IntelliJ 
            to practice branches, merging (and maybe checking out conflicts).</li>
        
            <li><strong>Repo</strong> Let's open up IntelliJ. Now select "New Project" (img here) and make a new project. 
            We are not going to initialize it with Git or version control. Give it a name and, if needed,
            select Java for the type of project. Make sure to create it inside of your repo. To get the path to your
            repo, go to Github Desktop, right-click your repo, and find it in Explorer. Select the link in the search 
            bar at the top of the Explorer menu and copy the link. Create your project. Notice in Github Desktop there 
            are a bunch of changes. If not, there is a problem! Redo steps again. Look at it as a chance to memorize it.</li>
        
            <li><strong>Repo</strong> Let's create a new class in the `src` folder; I'll call it `MyClass`. Let's use the 
            standard `psvm` to create our program's entry point, and then let's use `sout` for a basic print line. You might have an error here.
            If so, go to your project structure and reselect or change your Java SDK. If the errors are gone, great! Let's 
            make a commit and push that to our online repo.</li>
        
            <li><strong>Repo</strong> Now we are going to make a new branch. This will let us have isolated development
            environments to create a single feature or work on bugs. Navigate to the branch button at the top of Github Desktop 
            as shown (img here). I'll call my branch `feature-one` and create it. Notice the working branch changed from `main`!
            Let's go to our project in IntelliJ and add a for loop. Mine will run three times and print out
            each number. I'll run it once to see if it works, then go back to Github Desktop. I'll commit these
            changes to the `feature-one` branch. If I am happy with my changes, I can now try and merge it with 
            my `main` branch. There are several options for this. We could do a merge and commit by selecting "Merge into main" and then "Commit" (img here),
            or we could propose a pull request. Let's practice both.</li>
        </ul>
        
        </div>

        <!-- Key Concept Box -->
        <div class="key-concept">
          <h4>Key Takeaway</h4>
          <p>
            Explanation of stuff
          </p>
        </div>


         <!-- Practice Section -->
      <div class="practice-section">
        <h3>Steps before moving on</h3>
        <p>Be diligent!</p>
        <ul>
          <li>Take notes</li>
          <li>Go to gollasry and read all terms once. Use as reference</li>
        </ul>
      </div>

      </div>
      <!-- End of Content -->

       <!-- Content Section -->
       <div class="content-container">
        <h2 class="section-title">What is VCS, git, Github, and Github Desktop?</h2>

        <p>
          What are these things?
        </p>

        <!-- Code Explanation -->
        <div class="code-explanation">
          <h4>Lets breakdown each of them</h4>
          <ul>
            <li><strong>VCS</strong> Explanation</li>
            <li><strong>git</strong> Explanation</li>
            <li><strong>Github</strong> Explanation</li>
            <li><strong>Github Desktop</strong> Explanation</li>
          </ul>
        </div>

        <!-- Key Concept Box -->
        <div class="key-concept">
          <h4>Key Takeaway</h4>
          <p>
            Explanation of stuff
          </p>
        </div>


         <!-- Practice Section -->
      <div class="practice-section">
        <h3>Steps before moving on</h3>
        <p>Be diligent!</p>
        <ul>
          <li>Take notes</li>
          <li>Go to gollasry and read all terms once. Use as reference</li>
        </ul>
      </div>

      </div>
      <!-- End of Content -->

     
    </div>
  </div>
</div>
{% endblock %}
