{% extends "base_layout.html" %} {% block title %} Linear Algebra - Matrix
Multiplication and Eigenvalues {% endblock %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <h1>Introduction to Linear Algebra</h1>
      <p>
        Linear algebra is the branch of mathematics concerning linear equations,
        linear functions, and their representations through matrices and vector
        spaces. Here's an example:
      </p>
      <div class="card mb-4">
        <div class="card-header">
          <h5>The hope of these pages</h5>
        </div>
        <div class="card-body">
          <p></p>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    {% include "math/sidebar.html" %}
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- MathJax -->
{% endblock %}
