{% extends "base_layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>What is Admirari?</h1>
<p>I have always <strong>wondered</strong> about this world. Our wonderful system 
that we get to inhabit is filled with awe inspiring order and chaos. What is really happening? 
What are the systems at play? Can we describe this in a way we can agree with each other?</p>

<p>This site is a collection of what I am studying, of projects I hope help me understand this
    world and all the things that make me stay up late wondering about it all. My hope in making
    it public is that others can gain insight or insperation from reading it.
</p>
<p>I send my plea out to you: don't give up the search. It might seem endless, but we strive
    for tomorrow. Humans, all of us, no matter the race, religion, or philosophy: all of us
    living today strive for a tomorrow: there is beauty in that, so I beg; search for the answer to your
    deepest questions without pause. We are not immoral gods, we have a short time on this small planet to 
    explore a much bigger world. 
</p>
{% endblock %}