{% extends "base_layout.html" %}

{% block title %}Calculus{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Welcome to the Thermodynamics Page</h1>
    <p>This page covers all things related to thermodynamics. Stay tuned for more detailed content.</p>

    <ul>
        <li>\(P\) - Pressure</li>
        <li>\(V\) - Volume</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <p>

        
        
        \(T\) - Temperature
        \(n\) - number of moles \(\)
        \(N\) - Number of molecules
        \(N_A = 6.002*10^23\) - Avagodos number
        \(PV = nRT\)
        \(n= N/N_A\)
        \(M_n2\) = \(28_g/mol\)
        \(m = Mn\) - Molar mass 
        \(PV = nRT\)
        \(P\) - \(Pa\) - \(N/m^2\)
        \(V\) - \(L\)
        \(R\) - \(8.314J/(mol*K)\)
        \(T\) - \(K\)
        \(Pa * m^3 = N*m = J\)
        \(kPa * L = J\)
        \(PV = nRT\)
        \(k_b = Boltzmann const = 1.381*10^-23 J/K\)  


    </p>
</div>
{% endblock %}