{% extends "base_layout.html" %}
{% block title %}
Matrix Operations - Linear Algebra
{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row">

            


            <!-- Main Content Area -->
            <div class="col-md-8">
                <h1>Row Echelon Form</h1>
                <p>This page covers various operations that can be performed on matrices in linear algebra.</p>
                
                <!-- First Matrix Operation Section -->
                <div class="card mb-4" id="operation-1">
                    <div class="card-header">
                        <h5><!-- TITLE: Replace with specific operation name --></h5>
                    </div>
                    <div class="card-body">
                        <!-- DESCRIPTION: Add description of the operation here -->
                        <p>Description of the matrix operation goes here.</p>
                        <p>Fun note, name comes from french word for stair case.</p>
                        
                        <!-- FORMULA: Add LaTeX formula representation -->
                        <p>
                            <p>A row-echelon matrix must but a staircase of ones over zeros.</p>

                            $$
                            \begin{aligned}
                            x_1 + 2x_2 + 3x_3 &= 5 \\
                            \quad \quad x_2 + 4x_3 &= 6 \\
                            \quad \quad \quad \quad x_3 &= 2
                            \end{aligned}
                            $$

                            <!-- Augmented Matrix -->
                            $$
                            \begin{bmatrix}
                            1 & 2 & 3 & | 5 \\
                            0 & 1 & 4 & | 6 \\
                            0 & 0 & 1 & | 2
                            \end{bmatrix}
                            $$

                            <p>Are these row-echelon matricies?</p>

                            <!-- Two More Row Echelon Examples -->
                            $$
                            \begin{bmatrix}
                            1 & -3 & 0 & 7 \\
                            0 & 1 & 2 & 4 \\
                            0 & 0 & 0 & 1
                            \end{bmatrix}
                            $$

                        

                            $$
                            \begin{bmatrix}
                            0 & 0 & 1 \\
                            0 & 0 & 0 \\
                            0 & 0 & 0 
                            \end{bmatrix}
                            $$
                            
                            <p>Yes, yes they are. But what about these row-echelon matrices?</p>
                       

                            $$
                            \begin{bmatrix}
                            1 & 2 & 3 \\
                            2 & 1 & 6 \\
                            0 & 0 & 1 
                            \end{bmatrix}
                            $$

                            $$
                            \begin{bmatrix}
                            1 & 0 & 0 & 3 \\
                            0 & 0 & 2 & 4 \\
                            0 & 0 & 0 & 2
                            \end{bmatrix}
                            $$

                            <p>Nope! You fall into zeros on your staircase, or it isnt over all zeros!</p>
                        </p>
                    </div>
                </div>
                
                <!-- Row operations -->
                <div class="card mb-4" id="operation-2">
                    <div class="card-header">
                        <h5>Elementary Row Operations</h5>
                    </div>
                    <div class="card-body">
                        
                        <p>Something handy, all linear system of equations can be augmented 
                            and reduced into row-echelon form!
                        </p>

                        <h6>The are three operations we will use.</h6>

                        <ol class="list-unstyled">
                            <li><strong>Permutation</strong></li>
                            <li><strong>Scalar Row Multiplication </strong></li>
                            <li><strong>Addition of Two Rows</strong></li>
                        </ol>
                        
                    </div>
                </div>


                <!-- Row operations -->
                <div class="card mb-4" id="operation-2">
                    <div class="card-header">
                        <h5>Permutation</h5>
                    </div>
                    <div class="card-body">
                        
                        <p>Permutation is just reordering the rows. Simple right.</p>
                        <p>Often, as we will soon see, this is helpful to get a 1 in place</p>
                        <!-- Initial Matrix -->
                            $$
                            A =
                            \begin{bmatrix}
                            1 & 2 & 3 \\
                            4 & 5 & 6 \\
                            7 & 8 & 9
                            \end{bmatrix}
                            $$

                            <!-- Row Operation Notation (Permutation) -->
                            $$
                            A_{1,2}
                            $$

                            <!-- Matrix with Highlighted Rows -->
                            $$
                            A =
                            \begin{bmatrix}
                            \mathbf{1} & \mathbf{2} & \mathbf{3} \\
                            \mathbf{4} & \mathbf{5} & \mathbf{6} \\
                            7 & 8 & 9
                            \end{bmatrix}
                            $$

                            <!-- Permuted Rows -->
                            $$
                            A' =
                            \begin{bmatrix}
                            4 & 5 & 6 \\
                            1 & 2 & 3 \\
                            7 & 8 & 9
                            \end{bmatrix}
                            $$
                    </div>
                </div>


                   <!-- Row operations -->
                   <div class="card mb-4" id="operation-2">
                    <div class="card-header">
                        <h5>Scalar Row Multipication</h5>
                    </div>
                    <div class="card-body">
                        
                        <p>Sclar Row Multipication just means we mutiple all elements 
                            in the row by some scalar value. 
                            This is also how we 'divide'.</p>
                        <p>Use it to clear fractions, or whatever else you want</p>
                            <!-- Initial Matrix -->
                            $$
                            A =
                            \begin{bmatrix}
                            1 & 2 & 3 \\
                            4 & 5 & 6 \\
                            7 & 8 & 9
                            \end{bmatrix}
                            $$

                            <!-- Row Operation Notation (Scalar Multiplication) -->
                            $$
                            A_{2}^{(3)}
                            $$

                            <!-- Matrix with Highlighted Rows -->
                            $$
                            A =
                            \begin{bmatrix}
                            1 & 2 & 3 \\
                            \mathbf{4} & \mathbf{5} & \mathbf{6} \\
                            7 & 8 & 9
                            \end{bmatrix}
                            $$

                            <!-- Scalar Multiplication on Row 2 -->
                            $$
                            3 A_2 = \begin{bmatrix} 4 \cdot 3 & 5 \cdot 3 & 6 \cdot 3 \end{bmatrix} = \begin{bmatrix} 12 & 15 & 18 \end{bmatrix}
                            $$

                            <!-- Resulting Matrix -->
                            $$
                            A' =
                            \begin{bmatrix}
                            1 & 2 & 3 \\
                            12 & 15 & 18 \\
                            7 & 8 & 9
                            \end{bmatrix}
                            $$

                    </div>
                </div>


                   <!-- Row operations -->
                   <div class="card mb-4" id="operation-2">
                    <div class="card-header">
                        <h5>Addition of Two Rows</h5>
                    </div>
                    <div class="card-body">
                        
                        <p>The most difficult to master and get a feel for. Addition of two rows 
                            means we take two row vectors, a and b. We will add the elements of 
                            a to b, changing b in the process and leaving a alone in the end result. The elements are added directely
                            across their closes row.
                        </p>

                        <p>We can also multiply a by some scalar value before adding it to b. 
                            Like before, b is changed, but a remains unchanged in the final result.
                        </p>

                        <p>Yeah thats a lot, so we will look at it closely.</p>

                        <p>Often, as we will soon see, this is helpful to get a 1 in place</p>
                      <!-- Initial Matrix -->
                            $$
                            A =
                            \begin{bmatrix}
                            1 & 2 & 3 \\
                            4 & 5 & 6 \\
                            7 & 8 & 9
                            \end{bmatrix}
                            $$

                            <!-- Row Operation Notation -->
                            $$
                            A_{2,1}^{(2)}
                            $$

                            <!-- Matrix with Highlighted Rows -->
                            $$
                            A =
                            \begin{bmatrix}
                            \mathbf{1} & \mathbf{2} & \mathbf{3} \\
                            \mathbf{4} & \mathbf{5} & \mathbf{6} \\
                            7 & 8 & 9
                            \end{bmatrix}
                            $$

                            <!-- Row Vectors Extracted -->
                            $$
                            A_1 = \begin{bmatrix} 1 & 2 & 3 \end{bmatrix}, \quad
                            A_2 = \begin{bmatrix} 4 & 5 & 6 \end{bmatrix}
                            $$

                            <!-- First Row Multiplied by Scalar -->
                            $$
                            2 A_1 = \begin{bmatrix} 2 & 4 & 6 \end{bmatrix}
                            $$

                            <!-- Adding the Rows -->
                            $$
                            A_2 + 2A_1 = \begin{bmatrix} 4+2 & 5+4 & 6+6 \end{bmatrix} = \begin{bmatrix} 6 & 9 & 12 \end{bmatrix}
                            $$

                            <!-- Resulting Matrix -->
                            $$
                            A' =
                            \begin{bmatrix}
                            1 & 2 & 3 \\
                            6 & 9 & 12 \\
                            7 & 8 & 9
                            \end{bmatrix}
                            $$


                    </div>
                </div>

                <!-- Row operations -->
                <div class="card mb-4" id="operation-2">
                    <div class="card-header">
                        <h5>Simple example of getting into row-echelon form</h5>
                    </div>
                    <div class="card-body">
                        
                        <p>When possible aim to get a left most 1 in the upper corner.
                            Do this left to right, getting to row of the execept its leading 1.
                            Then move on to the next, rasing a 1 to he right spot and using it
                            to create what you need. 
                        </p>

                        <p>
                            <p>1</p>
                            $$
                            A =
                            \begin{bmatrix}
                            1 & 2 & 3 & 4 \\
                            2 & 4 & 6 & 8 \\
                            3 & 6 & 9 & 12 \\
                            4 & 8 & 12 & 16
                            \end{bmatrix}
                            $$

                            <p>2</p>
                            $$
                            A_{1,2}^{(-2)} = A_2 - 2 \times A_1
                            $$
                            $$
                            A_{1,2}^{(-2)} = \begin{bmatrix}
                            [(1*-2) + 2], [(2*-2) + 4], [(3*-2) + 6], [(4*-2 + 8)]
                            \end{bmatrix} = 
                            \begin{bmatrix}
                            0 & 0 & 0 & 0
                            \end{bmatrix}
                            $$
                            
                            

                            <p>3</p>
                            $$
                            A =
                            \begin{bmatrix}
                            1 & 2 & 3 & 4 \\
                            \mathbf{0} & \mathbf{0} & \mathbf{0} & \mathbf{0} \\
                            3 & 6 & 9 & 12 \\
                            4 & 8 & 12 & 16
                            \end{bmatrix}
                            $$
                            

                            <p>4</p>
                            $$
                            A_{1,3}^{(-3)} = A_3 - 3\times A_1
                            $$
                            $$
                            A_{3,1}^{(-3)} = \begin{bmatrix}
                            [(1*-3) + 3], [(2*-3) + 6], [(3*-3) + 9], [(4*-3 + 12)]
                            \end{bmatrix} = 
                            \begin{bmatrix}
                            0 & 0 & 0 & 0
                            \end{bmatrix}
                            $$


                            <p>5</p>
                            $$
                            A =
                            \begin{bmatrix}
                            1 & 2 & 3 & 4 \\
                            0 & 0 & 0 & 0 \\
                            \mathbf{0} & \mathbf{0} & \mathbf{0} & \mathbf{0} \\
                            4 & 8 & 12 & 16
                            \end{bmatrix}
                            $$


                            <p>6</p>
                            $$
                            A_{1,4}^{(-4)} = A_4 - 4 \times A_1
                            $$
                            $$
                            A_{4,1}^{(-4)} = \begin{bmatrix}
                            [(1*-4) + 4], [(2*-4) + 8], [(3*-4) + 12], [(4*-4 + 16)]
                            \end{bmatrix} = 
                            \begin{bmatrix}
                            0 & 0 & 0 & 0
                            \end{bmatrix}
                            $$


                            <p>7</p>
                            $$
                            A =
                            \begin{bmatrix}
                            1 & 2 & 3 & 4 \\
                            0 & 0 & 0 & 0 \\
                            0 & 0 & 0 & 0 \\
                            \mathbf{0} & \mathbf{0} & \mathbf{0} & \mathbf{0} \\
                            \end{bmatrix}
                            $$
                            

                            <p>8</p>
                            $$
                            A =
                            \begin{bmatrix}
                            1 & 2 & 3 & 4 \\
                            0 & 0 & 0 & 0 \\
                            0 & 0 & 0 & 0 \\
                            0 & 0 & 0 & 0
                            \end{bmatrix}
                            $$


                        </p>
                    </div>
                </div>
                
        </div>
        {% include "math/sidebar.html" %}
    </div>
{% endblock %}

