{% extends "base_layout.html" %} {% block title %} Linear Algebra - Vector
Spaces {% endblock %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <h1>Intro To Vector Spaces</h1>

      <!-- Content Card -->
      <div class="card mb-4">
        <div class="card-header">
          <h5>What is a Vector Space</h5>
        </div>
        <div class="card-body">
          <p>Definition: Let V be a non-empty set. We will call the elements of V vectors and defined on V is 
            an addition operation and a scalar multiplication operation with scalar in some set F, where F could 
            be the real numbers, integers, or whatever. We can call V a vector space if it satisfies ten conditions.
            We will go over those in a moment.
          </p>
        </div>
      </div>

      <!-- Content Card -->
      <div class="card mb-4">
        <div class="card-header">
          <h5>Terminology</h5>
        </div>
        <div class="card-body">
          <p></p>
        </div>
      </div>

      <!-- Content Card -->
      <div class="card mb-4">
        <div class="card-header">
          <h5>Closure & The Ten Properties</h5>
        </div>
        <div class="card-body">
          <ol>
            <li><strong>Closure under addition: </strong> For each pair of vectors u and v in V, 
              the sum of u + v is also in V. We say that V is closed under addition.</li>
            <li><strong>Closure under scalar multiplication: </strong> For each vector v in V and each scalr K in F, 
              the sclar multiple kv is also in V. We say that V is closed under scalar multiplication.</li>
            <li><strong>Commutativity of addition: </strong></li>
            <li><strong>Associativity of addition: </strong></li>
            <li><strong>Existence of a zero vector in V: </strong></li>
            <li><strong>Existence of additive inverse in V: </strong></li>
            <li><strong>Unit Property: </strong></li>
            <li><strong>Associativity of scalar multiplication: </strong></li>
            <li><strong>Distributive property of scalar multiplication over vector addition: </strong></li>
            <li><strong>Distributive property of scalar multiplication over scalar addition: </strong></li>
          </ol>
        </div>
      </div>

      <!-- Content Card -->
      <div class="card mb-4">
        <div class="card-header">
          <h5>The hope of these pages</h5>
        </div>
        <div class="card-body">
          <p></p>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    {% include "math/sidebar.html" %}
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- MathJax -->
{% endblock %}
